---
import { ViewTransitions } from "astro:transitions";
import Header from "./Header.astro";
import Footer from "./Footer.astro";
interface Props {
	title: string;
	metaDescription?: string;
}

const { title, metaDescription } = Astro.props;
const permalink = new URL(Astro.url.pathname, Astro.site).href;
const currentLang = Astro.currentLocale;
const availableLangs = ["es", "en"];
---

<html lang={currentLang}>
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content={metaDescription} />
		<meta name="viewport" content="width=device-width" />
		<link
			rel="apple-touch-icon"
			sizes="180x180"
			href="/apple-touch-icon.png"
		/>
		<link
			rel="icon"
			type="image/png"
			sizes="32x32"
			href="/favicon-32x32.png"
		/>
		<link
			rel="icon"
			type="image/png"
			sizes="16x16"
			href="/favicon-16x16.png"
		/>
		<link rel="manifest" href="/site.webmanifest" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>

		<!-- Open Graph / Facebook -->
		<meta property="og:type" content="website" />
		<meta property="og:url" content={permalink} />
		<meta property="og:title" content={title} />
		<meta property="og:description" content={metaDescription} />
		<meta property="og:image" content="wedding-invites.webp" />
	  
		<!-- Twitter -->
		<meta property="twitter:card" content="summary_large_image" />
		<meta property="twitter:url" content={permalink} />
		<meta property="twitter:title" content={title} />
		<meta property="twitter:description" content={metaDescription} />
		<meta property="twitter:image" content="wedding-invites.webp" />

		<ViewTransitions />
		<link rel="sitemap" href="/sitemap.xml" />
		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<link
			href="https://fonts.googleapis.com/css2?family=Lora&family=Parisienne&display=swap"
			rel="stylesheet"
		/>

		<!-- Google tag (gtag.js) -->
		<script
			type="text/partytown"
			async
			src="https://www.googletagmanager.com/gtag/js?id=G-X4FTRVT1FV"
		></script>
		<script type="text/partytown">
			window.dataLayer = window.dataLayer || [];
			function gtag() {
				dataLayer.push(arguments);
			}
			gtag("js", new Date());

			gtag("config", "G-X4FTRVT1FV");
		</script>
	</head>
	<body>
		<Header
			languagesList={availableLangs}
			currentLang={currentLang}
			transition:persist
		/>
		<slot />
		<Footer currentLang={currentLang} />
		<script>
			function initNavigation() {
				const nav = document.querySelector("#nav");
				console.log(nav);
				if (nav) {
					const navList = document.querySelector("#nav-list");
					nav.addEventListener("click", (e) => {
						navList?.classList.toggle("hidden");
					});
				}
			}
			document.addEventListener("astro:after-swap", initNavigation);
			initNavigation();
		</script>
	</body>
</html>
